---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import { Paginator, PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import config from '@/site-config'

export const prerender = true

export const getStaticPaths = (async ({ paginate }) => {
  const collections = sortMDByDate(await getBlogCollection())
  const collectionsCount = collections.length
  return paginate(collections, {
    pageSize: config.content.blogPageSize,
    props: { collectionsCount }
  })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'blog'>>
  collectionsCount: number
}

const { page, collectionsCount } = Astro.props

const meta = {
  description: 'Some posts or archives of my blog',
  title: 'Blog'
}

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: `← Previous Posts`,
      url: page.url.prev
    }
  }),
  ...(page.url.next && {
    nextUrl: {
      text: `Next Posts →`,
      url: page.url.next
    }
  })
}
---

<PageLayout {meta}>
  <Button title='Back' href='/' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 mt-6 text-3xl font-medium sm:mt-10'>Blog</h1>
    </div>
    {
      page.data.length === 0 ? (
        <p>No posts yet.</p>
      ) : (
        <section aria-label='Blog posts list' class='animate' id='content'>
          {/* header */}
          <div class='mb-3 text-sm sm:mb-5'>
            <span class='text-muted-foreground'>
              Page {page.currentPage} - Showing {page.data.length} of {collectionsCount} posts
            </span>
          </div>
          {/* posts */}
          <ul class='flex flex-col gap-y-4 text-start'>
            {page.data.map((post) => (
              <PostPreview {post} detailed />
            ))}
          </ul>
          <Paginator {...paginationProps} />
        </section>
      )
    }
  </main>
</PageLayout>
